* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  width: 100vw;
  height: 100vh;
  background: #212121 url("../assets/Galaxy.svg") no-repeat;
  background-position: 150% -40%;
  position: relative;
}

.title-wrapper {
  position: absolute;
  top: 300px;
  left: 100px;
}

.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 78px;

  color: #eaeaea;
}

.color-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;

  color: #ffb347;
}

.button-wrapper {
  padding-top: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 570px;
  height: 64px;
}

.button-wrapper a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 240px;
  height: 64px;

  background: #54b689;
  border-radius: 8px;

  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;

  color: #eaeaea;
}
